# macOS
.DS_Store

# Android Studio
.idea/
*.iml
*.iws
*.ipr
../.idea/workspace.xml

# Build files
build/
.dart_tool/
.packages
.pub-cache/
.pub/
pubspec.lock

# Flutter/Dart
.flutter-plugins
.flutter-plugins-dependencies

# Windows
Thumbs.db

# Environment variables
assets/.env
.env.local

# Logs
*.log
logs/

# Cache
.cache/

# Android build files
