
.env
backend
.idea
.DS_Store
.sonarlint
.vscode
build

#frontend
frontend/coverage
frontend/analysis_report.json
frontend/lint_report.txt
frontend/test_report.xml
frontend/build
frontend/pubspec.lock
frontend/Documentation

#Android studio
*.iml
*.iws
*.ipr

.flutter-plugins-dependencies

