name: Python Linting & Formatting

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Install Dependencies
        working-directory: ./backend
        run: |
          pip install poetry
          poetry install --no-root

      - name: Run Pylint (Generate JSON)
        working-directory: ./backend
        run: |
          mkdir -p reports
          poetry run pylint --output-format=json --output=reports/pylint-report.json .

      - name: Convert Pylint JSON to SonarQube Format
        working-directory: ./backend
        run: |
          python scripts/convert_pylint_to_sonar.py reports/pylint-report.json reports/pylint-sonarqube.json

      # Authenticate with Google Cloud
      - name: Authenticate with Google Cloud
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCS_KEY }}

      # Install Google Cloud SDK
      - name: Install Google Cloud CLI
        run: |
            sudo apt-get update && sudo apt-get install -y google-cloud-cli


      # Upload Pylint reports to Google Cloud Storage
      - name: Upload Pylint reports to GCS
        run: |
          BRANCH_NAME=$(echo "${{ github.ref }}" | sed 's|refs/heads/||' | tr '/' '_')
          gsutil cp backend/reports/pylint-report.json gs://python-lint-reports/$BRANCH_NAME/pylint-report.json
          gsutil cp backend/reports/pylint-sonarqube.json gs://python-lint-reports/$BRANCH_NAME/pylint-sonarqube.json
